src/pug/index.pug
doctype html
html(lang="en" dir="ltr")
    head
        title Main
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        style(type='text/css')
            include ../css/index.css
    body
        table.table
            tr
                td.td
                td.td600
                    div.messageContainerBlock
                        div.message
                            include header.pug
                            include image.pug
                            include section.pug
                            include footer.pug
                td.td

build/index.html
<!DOCTYPE html><html lang="en" dir="ltr"><head><title>Main</title><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><style type="text/css">@import url(https://fonts.googleapis.com/css2?family=KoHo:wght@200&family=Montserrat:wght@600&display=swap);a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}*{-webkit-box-sizing:border-box;box-sizing:border-box}.noWrap{white-space:nowrap}.boldText{font-weight:600}.textLeft{text-align:left}.textRight{text-align:right}.price{width:100%;white-space:nowrap}.flexRow{display:-webkit-box;display:-ms-flexbox;display:flex}.withoutPadding{padding:0!important}.messageHeaderTitle{font-family:KoHo,sans-serif!important;font-size:18px;font-weight:700;padding-bottom:40px;color:#2d2d4b}.messageHeaderDescriptionTitle{font-family:Montserrat,sans-serif!important;font-weight:600;font-style:normal;font-size:18px;line-height:23.4px;color:#272841;padding-bottom:10px}.messageHeaderDescriptionText{font-family:Montserrat,sans-serif!important;font-weight:400;font-style:normal;font-size:14px;line-height:18.2px;color:#5a566a;padding-bottom:20px}.messageImage{width:100%}.messageSection{font-family:Montserrat,sans-serif!important;width:100%;border-bottom:1px solid #e6e7f2;display:-webkit-box;display:-ms-flexbox;display:flex;-webkit-box-orient:horizontal;-webkit-box-direction:normal;-ms-flex-direction:row;flex-direction:row;padding-top:30px;padding-bottom:20px}.messageSection:last-of-type{border:0}.messageSectionInfo{width:100%}.messageSectionInfoTitle{font-weight:700;font-style:normal;font-size:20px;line-height:24.38px;color:#272727}.messageSectionInfoDescription{padding-top:12px;font-weight:400;font-style:normal;font-size:14px;line-height:18.2px;color:#656176}.messageFooter{width:100%;padding-top:36px;font-family:Montserrat,sans-serif!important}.messageFooterTitle{width:100%;font-weight:600;font-style:normal;font-size:18px;line-height:23.4px;color:#493e8f;padding-bottom:10px}.messageFooterDescription{width:100%;color:#656176;font-weight:400;font-style:normal;font-size:14px;line-height:130%;-webkit-text-decoration-line:underline;text-decoration-line:underline}body,html{height:100%;width:100%}.messageContainerBlock{padding:15px}.message{width:600px;padding:40px 56px 56px;background-color:#fff}a{text-decoration:none}.table{background-color:#e1e1e1;width:100%;height:100%}.td{width:50%}.td600{width:600px}</style></head><body><table class="table"><tr><td class="td"></td><td class="td600"><div class="messageContainerBlock"><div class="message"><header class="messageHeader"><div class="messageHeaderTitle">Ribas Bukovel</div><h3 class="messageHeaderDescriptionTitle">Ваше бронирование подтверждено!</h3></header><img class="messageImage" src="./images/image.png"><section class="messageSection"><div class="messageSectionInfo textLeft"><div class="messageSectionInfoTitle">Суббота,</div><div class="messageSectionInfoTitle">22 февраля 2020</div><div class="messageSectionInfoDescription">Время заезда после 12:00</div></div><div class="messageSectionInfo textRight"><div class="messageSectionInfoTitle">Понедельник,</div><div class="messageSectionInfoTitle">24 февраля 2020</div><div class="messageSectionInfoDescription">Выезд в 10:00</div></div></section><section class="messageSection"><div class="messageSectionInfo"><div class="messageSectionInfoTitle">Категория номера</div><div class="messageSectionInfoDescription">Стандарт</div></div></section><section class="messageSection"><div class="messageSectionInfo"><div class="messageSectionInfoTitle flexRow"><span class="noWrap">Полная стоимость</span><div class="price noWrap textRight">1615 UAH</div></div></div></section><footer class="messageFooter"><a><h3 class="messageFooterTitle">Правила заезда и проживания</h3></a><a><h3 class="messageFooterDescription">Отменить бронирование</h3></a></footer></div></div></td><td class="td"></td></tr></table></body></html>
